@import '~bootswatch/dist/yeti/variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootswatch/dist/yeti/bootswatch.scss';
@import '~bootstrap-vue/src/index.scss';

html, body {
	height: 100%;
	overflow: hidden;
}

.form-group.required {
	legend::before {
		content: '*';
		margin-right: 0.25em;
		color: red;
	}
}

.round-sm {
	border-radius: 4px;
	overflow: hidden;
}
