@import '~bootswatch/dist/yeti/variables.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootswatch/dist/yeti/bootswatch.scss';
@import '~bootstrap-vue/src/index.scss';

html, body {
	height: 100%;
	overflow: hidden;
}

.form-group.required {
	legend::before {
		content: '*';
		margin-right: 0.25em;
		color: red;
	}
}

.round-sm {
	border-radius: 4px;
	overflow: hidden;
}

.app-nav {
	a {
		color: #000;
		position: relative;

		&.active {
			transform: scale(1.2);

			&::before {
				content: ' ';
				display: block;
				position: absolute;
				height: 6px;
				background: #ccc;
				width: 40px;
				left: 50%;
				bottom: 8px;
				z-index: -1;
				margin-left: -20px;
				background-image: linear-gradient(to right, #FFFFFF, #74B1BE, #FFFFFF);
				border-radius: 10px;
				overflow: hidden;
			}
		}
	}
}
